@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --black: #000;
  --text: #333;
}

#wrapper {
}
#header {
  height: 50px;
  background-color: var(--black);
}
#nav,
.sub-nav {
  list-style: none;
}
#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 50px;
  padding: 0 24px;
  display: inline-block;
}

#nav > li > a {
  color: var(--white);
}

#nav li:hover > a {
  background-color: #ccc;
  color: var(--text);
}

#nav li:hover .sub-nav {
  display: block;
}

#nav .sub-nav {
  display: none;
  min-width: 160px;
  position: absolute;
  /* Cách top 1 đoạn = chiều cao thẻ cha (li) */
  top: 100%;
  left: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub-nav * {
  width: 100%;
}

#nav .sub-nav a {
  color: var(--black);
  padding: 0 16px;
  line-height: 40px;
}

#slider {
  min-height: 500px;
  background-color: var(--text);
}
#content {
}
#footer {
}
