@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --black: #000;
  --text: #333;
}

#wrapper {
}
#header {
  height: 50px;
  background-color: var(--black);
}
#nav {
}
#nav li {
  display: inline-block;
}

#nav li a {
  color: var(--white);
  text-decoration: none;
  line-height: 50px;
  padding: 0 24px;
}

#nav li:hover a {
  background-color: #ccc;
  color: var(--text);
}

#nav .sub-nav {
  display: none;
}
#slider {
}
#content {
}
#footer {
}
